body, html {
    font-family: "SF Pro Display", sans-serif !important;
}

code, pre, kbd, samp, tt, .monospace {
    font-family: "JetBrains Mono", monospace !important;
}

.popup, .menu, .modal, .dropdown, .tooltip, .context-menu {
    font-family: "SF Pro Display", sans-serif !important;
}
